/* Importando as fontes do gogle */
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&display=swap');

/* Zerar as margens de todos os elemtnos da página. margens internas e externas */
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

/*  Vamos adicionar uma imagem ao fundo do header */
header{
    background-image: url("../img/cafeteria2.png");
    /* Ajustar o tamanho da imagem em 100% de largura */
    background-size: 100%;
    /* Ajustar a posição d imagem em X e Y */
    background-position: 0px -50px;
    height: 400px;
    padding: 20px;
}

nav{
    /* Tornando o conteúdo da nav flexível. isso permite que os elementos fiquem um ao lado do outro.  */
    display: flex;
    /* Cria um espacamento entre os itens */
    justify-content: space-between;
    /* Alinhamento vertical entre os elementos que estão na Nav  */
    align-items: center;
}

/* Mudar a cor da letra */
h1{
    color: rgb(238, 236, 236);
    /* Alterar fonte da letra */
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20pt;
    /* Alterar o tamanho da Caixa (alta ou baixa)*/
    text-transform: capitalize;
}
ul{
    /* Retirar o marcador da lista */
    list-style: none;
}

 header ul li{
    /* Vamos ajudar a disposição (display) dos intens da lista em formato de linha(um ao lado do outro) */
    display: inline-block;
    margin-left: 5px;
    margin-right: 5px;
    padding: 5px;
    
}

 header ul li:hover{
    background-color: #bdbdbdbe;
}

header ul li a{
    color: rgb(253, 253, 253);
    /* Vamos retirar o underline(sublinhado) */
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}

 header h2{
    color: rgb(243, 238, 238);
    text-align: center;
    margin-top: 4rem;
    font-family: "Oswald", sans-serif;
    font-size: 28pt;
    font-weight: 500;
}
header p{
    font-family: "Kalam", cursive;
    font-size: 17pt;
    color:white;
    text-align: center;
    margin-left: 200px;
    margin-right: 200px;
    text-shadow: 0px 0px 5px rgb(0, 0, 0);
}

footer{
    background-color:#455a64;
    display: flex;
    justify-content: space-between;
    padding: 50px;

    padding-top:100px;
    padding-bottom:100px ;
    
    font-family: arial;
    font-size: 15pt;
    color:#fff;
}

footer #rede li{
    /* colocar as redes em linha */
    display: inline-block;
    margin-right: 10px;
}

/* -------------------Formatação da pagina index------------------------ */
main h2{
    font-family: "Oswald", sans-serif;
    margin: 15px;
    font-size: 20pt;
    color: #000000;
    text-align: center;
}

main #home P {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px 15px 10px 15px;
    text-align: justify;/*alinhar dos dois lados*/  
    font-size: 12pt;
 /*  O comando line-height define a altura da linha (espaçamento entre linhas). Estamos usando uma altura de 1,5, o tamanho da fonte mais meio
 do tamanho da fonte */
 line-height: 18pt;
}
main #imghome img{
    margin: 200px;
    width: 300px;
    height: 300px;
    /* arrendondar os cantos da imagem */
    border-radius: 50%;

    /* vamos aplicar um efeito de transparencia da imagem usando o comando opacity q varia entre 0 e 1 ou seja se voce aplicar 0.6 
    que está usando 60% se opacidade isto representa 60% de visibilidade */
    opacity: 0.6;

    /* o comando transition pode realizar uma animação de transisção, que você pode configurar o tipo de transição e o tempo de transição */
    transition: ease 1s;
    }

    main #imghome img:hover{
        opacity: 1;
    }

    main #imghome{
        text-align: center;
    }

    /* --------------------------Formatação da pagina cardapio --------------------------- */
    main #categoriacardapio{
        width: 80%;
        /* Vamos centralizar a caixa cardapio categoria modificando a margem da esquerda e da direita com auto automatico */
        margin-left: auto;
        margin-right: auto;
        /* aplicar a disposição flex para deixar as imagens uma ao lado da outra */
        display: flex;
        /* alinhar o conteudo ao centro */
        justify-content: center;
        align-items: center;
        margin-top: -50px;
    }

    .itemcardapio img{
        width: 150px;
        height: 150px;
        border-radius: 50%;
        display: block;
        box-shadow: 0px 0px 10px chocolate;
        margin-bottom: 5px;
    }

        .itemcardapio{
            text-align: center;
            margin: 15px;
        }

        .itemcardapio a{
            font-family: Arial, Helvetica, sans-serif;
            text-decoration: none;
            color: black;
        }
        
        .linha{
            display: flex;
            flex-wrap: wrap;
            padding: 20px;
            justify-content: center;

        }

        .item{
            width: 32%;
            display: flex;
            margin: 10px;
        }

        .item img{
            width: 150px;
            height: 150px;
            border-radius: 10px;
        }
        
        .item div h3{
            font-family: Arial, Helvetica, sans-serif;
            font-size: 12pt;
            margin: 5px;
        }

        .item div p{
            font-family: Arial, Helvetica, sans-serif;
            margin: 5px;
            font-size: 10pt;
            line-height: 15pt;
        }