/* Zerar as margens de todos os elemtnos da página. margens internas e externas */
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
/*  Vamos adicionar uma imagem ao fundo do header */
header{
    background-image: url("../img/cafeteria5.jpg");
    height: 400px;
}